= render "header"
.main
  .main__box__bar
  .main__box__contaner
    .main__box__contaner__inner
      .main__box__contaner__inner__top
        .main__box__contaner__inner__top__image
          = image_tag "samurai.png", width: "200px"
        .main__box__contaner__inner__top__up
          引越しの見積もりを
          .main__box__contaner__inner__top__up__down
            シミュレーション！
      .main__box__contaner__inner__bottom
        .main__box__contaner__inner__bottom__text
          費用の目安・相場を把握したい方
          %br
          お引越しの条件で変わる料金をシミュレートしたい方へ
        .main__box__contaner__inner__bottom__form
          = link_to "見積もりシミュレーションスタート！", simulator2_home_index_path, class: "main__box__contaner__inner__bottom__form__btn"
  .main__box__bar
  .main-title
    引越し見積もり概算シミュレーションの使い方
  .main__text
    この見積もりシミュレーションは個人情報を入力することなく無料で簡単に引越しの概算料金と相場を調べることができます。
    入力項目について、あらかじめ下記のポイントを押さえておけば、シミュレーターを引越し費用の概算に活用できます。
  .main__info
    .main__info__top
      .main__info__top__logo
        %i.far.fa-check-circle
      .main__info__top__text
        引越し日・引越し人数
    .main__info__text
      同じ荷物の量、移動距離であっても引越しをする時期により見積もり料金が上下します。
      %br
      引越しを希望する人が多い3月・4月の繁忙期を選択すると概算料金は高くなります。
      %br
      また、家族の人数が増えると荷物量も増えるため、輸送コストの関係から費用が高くなる傾向にあります。
    .main__info__top
      .main__info__top__logo
        %i.far.fa-check-circle
      .main__info__top__text
        現在の住所・引越し先住所
    .main__info__text
      移動距離が長くなるほど実際の引越し料金も概算金額も高くなります。
      %br
      旧居と新居の距離別で引越し費用の相場が知りたい場合は「引越し費用の相場と料金の目安」も参考にしてください。
      %br
      また、住居にエレベーターがあるか・ないかで作業スタッフの人員数などに関わるため、見積もりに影響します。
    .main__info__top
      .main__info__top__logo
        %i.far.fa-check-circle
      .main__info__top__text
        運搬する荷物
    .main__info__text
      家財は個数だけでなく、それぞれのサイズや取り扱い方によって運搬費用に影響があります。
      %br
      単純に数が多ければ多いほど、引越し料金は高騰します。
  .main__box__bar
  .main-title
    シミュレーションに際して個人情報の入力は不要です！
  .main__user
    本シミュレーションでは、個人情報を入力せずに、あなたの引越しの見積もり相場を把握可能です。
    %br
    簡単な情報入力をするだけで料金がわかるので、お気軽に引越しにかかる費用を調べることができます。
  = render "footer"